/* Styles for the body of the page */
body {
    --s: 100px; /* Controls the size of the pattern */
    --c1: #008cff;
    --c2: #1b1b3a;

    /* Gradient pattern definition for the background */
    --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
          var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, 
          var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;

    background: 
        radial-gradient(
            100% 100% at 100% 0, /* Gradient position adjustment */
            var(--c1) 4%, var(--_g), #0008 96%, #0000
        ),
        radial-gradient(
            100% 100% at 0 100%, /* Another position adjustment */
            #0000, #0008 4%, var(--_g), var(--c1) 96%
        ) var(--c1);

    background-size: var(--s) var(--s); /* Pattern size */
    background-attachment: fixed; /* Fix background */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Styles for the header */
header {
    text-align: center;
    margin-bottom: 20px;
    color: #0099ff;
    font-size: 15px;
}

/* Main style to center the sections */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns to the top */
    width: 100%; /* Full width of the screen */
    gap: 20px; /* Space between child elements */
    flex-grow: 1; /* Makes the main grow and occupy remaining space */
    padding: 20px; /* Adding padding to main */
}

/* Styles for the form section */
#form-section {
    flex: 0 0 40%; /* Defines that the form section will occupy 40% of the width */
    padding: 30px; /* Increased padding */
    margin: 0 10px; /* Side margins to separate from the edge */
    overflow: hidden; /* Hides overflow to maintain appearance */
}

/* Styles for the user list */
#list-section {
    flex: 0 0 30%; /* Defines that the list will occupy 55% of the width */
    background-color: #171717; /* Dark background for the form */
    margin-bottom: 1em; /* Adjusting bottom margin */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px; /* Increased padding */
    margin: 0 10px; /* Side margins to separate from the edge */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth animation */
    border: 3px solid transparent; /* No visible border initially */
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.5); /* Shadow */
}

#list-section:focus-within {
    border-color: #00d9ff; /* Activates the border in aqua */
    box-shadow: 0 0 15px rgba(0, 225, 255, 0.5); /* Shadow around */
}

/* Styles for the form */
.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding: 2em; /* Increasing internal padding of the form */
    background-color: #171717; /* Dark background for the form */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth animation */
    border: 3px solid transparent; /* No visible border initially */
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.5); /* Shadow */
}

form:focus-within {
    border-color: #00d9ff; /* Activates the border in aqua */
    box-shadow: 0 0 15px rgba(0, 225, 255, 0.5); /* Shadow around */
}

/* Form title */
.form-heading {
    text-align: center;
    margin: 0; /* Removing margins to adjust space */
    color: #64ffda;
    font-size: 1.5em; /* Increasing font size */
}

/* Form fields */
.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717; /* Field color */
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Input field */
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
}

/* Send button */
.sendMessage-btn {
    cursor: pointer;
    margin-bottom: 1em; /* Adjusting bottom margin */
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
    background-color: #64ffda;
    color: #000;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

/* Form section card with gradient */
.form-section-card1 {
    background-image: linear-gradient(163deg, #0051ff 100%, #0051ff 100%);
    border-radius: 22px;
    transition: all 0.3s;
}

.form-section-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

/* Styles for the user list */
#list-section h2 {
    font-size: 1.75rem; /* Increasing font size */
    color: #00ccff;
    margin-bottom: 20px; /* Increasing bottom space */
    text-align: center;
}

#user-list {
    list-style-type: none;
    padding: 0;
}

.btn-edit {
    cursor: pointer;
    margin-bottom: 1em; /* Adjusting bottom margin */
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #636363;
    transition: all ease-in-out 0.3s;
    margin-top: 15px; /* Move element down 20 pixels */
}

.btn-edit:hover {
    background-color: #64ffda;
    color: #000;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.btn-delete {
    cursor: pointer;
    margin-bottom: 1em; /* Adjusting bottom margin */
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #636363;
    transition: all ease-in-out 0.3s;
}

.btn-delete:hover {
    background-color: #64ffda;
    color: #000;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

#user-list li {
    cursor: pointer;
    margin-bottom: 1em; /* Adjusting bottom margin */
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all ease-in-out 0.3s;
}

#user-list li:hover {
    background-color: #ffffff; /* Changed on hover */
}

/* Social media icons styles */

.social-media-icons .wrapper {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.social-media-icons .icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.social-media-icons .icon:hover {
    background-color: hsl(0, 0%, 95%);
    transform: translateY(-2px);
}

.social-media-icons .icon svg {
  width: 20px;
  height: 20px;
}

.social-media-icons .tooltip {
  position: absolute;
  bottom: 50px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
  pointer-events: none;
  white-space: nowrap;
}

.social-media-icons .icon:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}


.social-media-icons {
    position: absolute; /* Permite posicionar livremente */ 
    left: 20px;
  }

  
  
/****** Responsive styles ****/
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Stacks columns on smaller screens */
        gap: 10px; /* Reduces gap */
    }

    #form-section, #list-section {
        flex: 1 0 100%; /* Full width on mobile */
    }
}

@media (max-width: 480px) {
    .sendMessage-btn {
        font-size: 0.8rem; /* Smaller button on mobile */
    }
}
